NODE_ENV=production
PORT=23001
DATABASE_URL=postgres://user:pass@localhost:5432/db
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecretjwtkey
JWT_EXPIRES_IN=1d
FRONTEND_URL=http://localhost:3000
POSTGRES_HOST=localhost
POSTGRES_PORT=25432
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=db
REDIS_HOST=localhost
REDIS_PORT=26379
SWAGGER_USER=admin
SWAGGER_PASS=password